/* Custom Css  */
.go-bg-info{
    background-color: #fceae8;

}
.catagories img{
    width: 120px;
}

.go-btn-color{
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}

.watch-design{
    width: 200px;
    margin-top: 30px;
    margin-left: 70px;

}
.speaker-design{
    width: 250px;
    margin-top: 20px;
    margin-left: 55px;
}
.laptop-design{
    width: 300px;
    margin-left: 25px;
}